<p id="notice"><%= notice %></p>
<style>
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
</style>
<div class="page-header">  <center><h1>Posts</h1></center>
  <center><small>List of all Posts</small></center>
</div>
<% @posts.each do |post| %>
  <div class="jumbotron" style="max-width: 500px; margin: 80px auto">
    <h3>Posted by <%= post.user.email %></h3>
    <%= image_tag post.post_image, class: 'img-responsive' %>
    <p><%= post.body %></p>
  </div>
<% end %>