@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    color: #fff;
    background-color: #000;
}

.jumbotron {
    font-family: 'Amatic SC';
    background-color: #8abf85;
}